a {
  color: #2B2E34;
  text-decoration: none;
}

a:hover {
  color: #F66249;
  text-decoration: none;
}

.active {
  color: #F66249 !important;
}

.togg-color {
  color: #F66249;
}

.sale::before {
  content: "";
  width: 220px;
  height: 30px;
  background-color: #fff;
  display: block;
  top: -30px;
  position: absolute;
  z-index: 34;
}

.sale-2::before {
  content: "";
  width: 227px;
  height: 23px;
  background-color: #fff;
  display: block;
  top: 93px;
  left: -110px;
  transform: rotate(90deg);
  position: absolute;
  z-index: 34;
}

.sale::after {
  content: "Sale!";
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-42deg);
  width: 180px;
  height: 35px;
  padding-top: .3em;
  margin-left: -1.3em;
  background-color: #F66249;
  display: block;
  top: 30px;
  left: 0px;
  position: absolute;
  z-index: 33;
}

.active-pag {
  background-color: #2B2E34;
  color: #fff !important;
}

.active-pag:hover {
  background-color: #2B2E34 !important;
  color: #F66249 !important;
}

a {
  color: #2B2E34;
  text-decoration: none;
}

a:hover {
  color: #F66249;
  text-decoration: none;
}

.bread-crumb {
  margin-top: 2em;
}

.content {
  margin-top: 3em;
  margin-bottom: 5em;
}

.content h2 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1em;
}

.content div {
  display: flex;
  align-items: center;
}

.content div p {
  margin: 0;
}

.content div button {
  background-color: #F66249;
  color: #FBFBFB;
  font-weight: 600;
  margin-left: 1em;
}

.content div button:hover {
  background-color: #e92b0b;
}
